<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :Website %>
    <%= form.text_field :Website, id: :project_Website %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_area :info, id: :project_info %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area, id: :project_area %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
