<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @project.Website %>
</p>

<p>
  <strong>Info:</strong>
  <%= @project.info %>
</p>

<p>
  <strong>Area:</strong>
  <%= @project.area %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
